<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
  </head>
  <body>
    <nav>
    </nav>
    <h1>The Witch's Cupboard</h1>
    <ul>
      <%  for(let i = 0; i < products.length; i++) { %>
        <li>
          <h2><strong> <%=products[i].name%></strong></h2>
          <!-- <h3> Provides: <%=products[i].description%></h3> -->
          <a><img src="<%=products[i].img%>" /></a><br>
        </li>
      <% } %>
    </ul>
  </body>
</html>